# --------------------
# 核心依赖和构建文件
# --------------------
node_modules
/frontend/node_modules
/backend/node_modules
.DS_Store

# Next.js 临时文件和构建产物
/.next/
/out/
.env.local

# --------------------
# 敏感信息
# --------------------
.env
.env.*
